:root {
  /* color palette */
  --background-color: #f9f9f9;
  --text-color: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* min-height: 100vh; */
  color: var(--text-color);
  background: var(--background-color);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Bug fixed: When MUI menu is opened, it adds extra padding and removes overflow. The code below fixes the bug */
  overflow-y: auto !important;
  padding: 0 !important;
}
